<template>
    <b-row>
        <b-col>
            <h1>{{ page_title }}</h1>
            <!-- Create v-for and apply a key for Vue. Example is using a combination of the slug and index -->
            <div v-for="(post,index) in posts" :key="post.slug + '_' + index">
                <router-link :to="'/blog/' + post.slug">
                    <div class="card bg-light text-dark">
                        <div class="card-img-top p-5 text-center">
                            <img v-if="post.featured_image" :src="post.featured_image" alt="">
                            <img v-else src="http://via.placeholder.com/250x250" alt="">
                        </div>
                        <div class="card-body">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.summary }}</p>
                        </div>
                    </div>
                </router-link>
            </div>
        </b-col>
    </b-row>
</template>

<script>
    import { butter } from '@/buttercms'
    export default {
        name: 'blog-home',
        data() {
            return {
            page_title: 'Blog',
            posts: []
            }
        },
        methods: {
            getPosts() {
            butter.post.list({
                page: 1,
                page_size: 10
            }).then((res) => {
                this.posts = res.data.data
            })
            }
        },
        created() {
            this.getPosts()
        }
    }
</script>

<style>
    img {
        width: 100%;
    }
</style>