<template>
    <b-row>
        <b-col>
            <b-row>
                <b-col md="6" class="mx-auto">
                    <b-card>
                        <div v-show="showErrors">
                            <b-alert v-for="error in errors" :key="error.message" show variant="danger">
                                {{ error.message }}
                            </b-alert> 
                        </div>  
                        <b-form @submit="submitForm">
                            <b-form-group label="Email address:" label-for="email">
                                <b-form-input id="email"  type="email" v-model="email.value" placeholder="Enter email"></b-form-input>
                            </b-form-group>
                            <b-form-group label="Enquiry:" label-for="Enquiry">
                                <b-form-textarea id="Enquiry" v-model="enquiry.value" placeholder="Enquiry" :rows="3" :max-rows="6"></b-form-textarea>
                            </b-form-group>
                            <b-form-group>
                                <b-button type="submit" variant="primary">Get in touch</b-button>
                            </b-form-group>
                        </b-form>  
                    </b-card>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
</template>

<script>
    import MailServerApi from '../services/mail/mail-server-api';
    export default {
        data: () => {
            return {
                errors: [],
                email: {
                    value: null,
                    valid: true
                },
                enquiry: {
                    value: null,
                    valid: true
                }
            }
        },
        computed: {
            showErrors() {
                return this.errors.length > 0;
            }
        },
        methods: {
            _clearErrors() {
                this.errors = [];
            },
            _addError(message) {
                this.errors.push({ message: message });
            },
            _validate() {
                this._clearErrors();

                if (this.email.value == null || this.email.value == "") {
                    this._addError("Please enter an email address");
                    this.email.valid = false;
                }

                if (this.enquiry.value == null || this.enquiry.value == "") {
                    this._addError("Please enter an enquiry");
                    this.enquiry.valid = false;
                }

                return this.email.valid && this.enquiry.valid;
            },
            async submitForm(e) {
                e.preventDefault();
                if (this._validate()) {
                    let temp = new MailServerApi();
                    console.log(temp);
                    await temp.sendMailAsync({
                        personalizations: [
                            {
                            to: [
                                {
                                    email: "enquiry@matt-h.xyz",
                                    name: "enquiry@matt-h.xyz"
                                }
                            ],
                            subject: "New contact form request"
                            }
                        ],
                        from: {
                            email: "notifications@matt-h.xyz",
                            name: "contact form"
                        },
                        content: [
                            {
                                "type": "text/html",
                                "value": "<p><strong>From: </strong>" + this.email.value + "</p><p><strong>enquiry: </strong>" + this.enquiry.value + "</p>"
                            }
                        ]
                    });
                    
                }

                return;
            },
        }
    }
</script>
<style>