<template>
    <div>
        <b-row class="mb-4" v-for="(group, i) in groupedProducts" :key="i">
            <b-col md="4" v-for="(product, j) in group" :key="j">
                <div class="card bg-light text-dark">
                    <div class="card-img-top p-5 text-center">
                        <a v-bind:href="product.fields.bitbucket_link">
                            <i class="fa fa-bitbucket fa-5x"></i>
                        </a>
                    </div>
                    <div class="card-body">
                        <h3><a v-bind:href="product.fields.product_link">{{ product.fields.title }}</a></h3>
                        <p>{{ product.fields.description }}</p>
                    </div>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    // import ButterCMS from 
    import { butter } from '@/buttercms'
    export default {
        name: 'portfolio',
        data() {
            return {
            page_title: 'Portfolio',
            // Create array to hold the pages from ButterCMS API
            products: []
            }
        },
        computed: {
            groupedProducts() {
                return  _.chunk((this.products), 3);      
            }
        },
        methods: {
            _getProducts() {
            butter.page.list('portfolio')
                .then((res) => {
                    this.products = res.data.data
                })
            },
            load() {
                this._getProducts();
            }
        },
        created() {
            this.load();
        }
    }
</script>