<template>
<div class="cd-timeline__block js-cd-block">
    <div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
    </div>
    <div class="bg-light card cd-timeline__content js-cd-content">
        <h2 class="text-dark">{{ event.title }}</h2>
        <small class="text-dark">{{ event.sub_title }}</small>
        <p class="text-dark">{{ event.description }}</p>
        <span class="cd-timeline__date text-dark">{{ event.dateFormated }}</span>
    </div>
</div>
</template>

<script>
import router from '@/router'
import moment from 'moment'
export default {
    props: [
        'event'
    ],

    created() {
        this.event.dateFormated = moment(this.event.date).format("MMMM YYYY");
    }
}
</script>
