<template>
<b-navbar toggleable type="dark" variant="dark" class="sticky-top">
    <b-navbar-toggle target="nav_text_collapse"></b-navbar-toggle>
    <b-navbar-brand>
      <router-link class="navbar-brand" :to="{ name: 'home'}">matt-h.xyz</router-link>
    </b-navbar-brand>
    <b-navbar-nav class="ml-md-auto">
      <b-nav-item>
          <router-link v-for="(route, index) in menuRoutes" :key="index" class="navbar-brand" :to="{ name: route.name}">{{ route.name }}</router-link>
      </b-nav-item>
    </b-navbar-nav>
</b-navbar>
</template>

<script>
import router from '@/router'
export default {
    computed: {
        menuRoutes() {
            return router.options.routes.filter(r => r.menuItem == true);
        }
    }
}
</script>
