<template>
    <div class="container-fluid">
        <b-row>
            <b-col class="text-left" xs="6">
                <span style="position: relative;top: 20%;transform: translateY(-50%);">Matthew Hope &copy; 2018</span>
            </b-col>
            <b-col class="text-right" xs="6">
                <span style="vertical-align: middle;">Built using</span>
                <a href="https://buttercms.com" class="text-white" target="_blank">
                    <img src="https://cdn.buttercms.com/RyJ7UhcVTCRqrCFXwgCo" style="width: 150px;">
                </a> 
            </b-col>
        </b-row>
    </div>
</template>

<script>
export default {
}
</script>