<template>
  <div id="app">
    <MainLayout>
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
    </MainLayout>
  </div>
</template>

<script>
import MainLayout from '@/views/layouts/main-layout'
export default {
  name: 'App',
  components: {
    MainLayout
  }
}
</script>

<style>
.fade-enter-active, .in-out-translate-fade-leave-active {
 transition: all 0.7s;
 }
.fade-enter, .fade-leave-active {
 opacity: 0;
}
.fade-enter {
 transform: translateX(100vw);
}
.fade-leave-active {
 transform: translateX(-100vw);
}
</style>