<template>
    <div class="site-wrapper">
        <header>
            <navigation />
        </header>
        <main role="main" class="site-content-wrapper">
            <div class="container">
                <b-row>
                    <b-col class="ml-sm-auto p-4">
                        <div class="site-content">
                            <slot />
                        </div>
                    </b-col>
                </b-row>
            </div>
        </main>
        <footer class="bg-dark text-white p-2 text-right">
            <trademark />
        </footer>
    </div>
</template>
<script>

import navigation from '@/components/navigation'
import trademark from '@/components/trademark'
export default {
    components: {
        navigation,
        trademark
    }
}
</script>

<style>
html,
body,
.site-wrapper {
  height: 100vh; /* needed for proper layout */
}

body {
  overflow: hidden;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
}

.site-wrapper header {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  box-shadow: #00000033 0px 2px 5px 1px;
}

.site-content-wrapper {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.site-wrapper footer {
  flex: 0 0 auto;
  background-color: #dcdcdc;
  box-shadow: #00000033 0px -2px 5px 1px;
}

    /* .site-wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
    .site-content {
        flex: 1;
    } */
</style>

